*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
  
}
html,body{
    height: 100%;
    width: 100%;
  
}
/* header{
    position: sticky;
    top: 0vh;
} */
main{
    /* background-color: black; */
   position: relative;
   z-index: 10;
}

nav{
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
 img{
   width: 12vh;
    height: 10vh;
    
}
.profile-sidebaar{
    display: none;
}

.close{
   display: none;
   
    
}
.closeA{
    display: none;
}
.closeN{
    display: none;
}
.closeC{
      animation-name: closechats;
    animation-duration: 3s;
    display: none;
}
.notification-sidebar{
    display: inline;
    border: 1px solid black;
    height: 26.5vh;
    width: 17vh;
    position:absolute;
   left: 82.5vh;
   z-index: 10;
   top: 11vh;
   border-radius: 15px;
   background-color: white;
  transition: all ease 1s;
  justify-items: center;
  align-items: center;
  transition: all ease 1s;
  overflow: hidden;

}
.notification-sidebar p{
    padding-top: 1vh;
  
  }
  .notification-sidebar a{
      text-decoration: none;
      color: rgb(49, 48, 48);
      padding-left: .8vh; 
  } 
  
   .notification-sidebar p:hover{
      background-color: black;
      opacity: .8;
      a{
        color: white;
    }
      
      } 
  
.about-sidebar{
    display: inline;
    border: 1px solid black;
    height: 13vh;
    width: 15vh;
    position:absolute;
   left: 102.5vh;
   z-index: 10;
   top: 11vh;
   border-radius: 15px;
   background-color: white;
  transition: all ease 1s;
  justify-items: center;
  align-items: center;
  transition: all ease 1s;
  overflow: hidden;

}
.about-sidebar p{
  padding-top: 1vh;

}
.about-sidebar a{
    text-decoration: none;
    color: rgb(49, 48, 48);
    padding-left: .8vh; 
}

.about-sidebar p:hover{
    border: 1px solid black;
    background-color: rgb(44, 43, 43);
    opacity: .9;
   
    color: white;
    a{
        color: white;
    }

}

.profile-sidebar{
    display: inline;
    border: 1px solid black;
    height: 29vh;
    width: 12.5vh;
  position:absolute;
   left: 120vh;
   z-index: 10;
  top: 11vh;
  border-radius: 15px;
  background-color: white;
  transition: all ease 1s;
  justify-items: center;
  align-items: center;
  transition: all ease 1s;
  overflow: hidden;
  
}
.profile-sidebar p{
    padding: 1vh .2vh;

}
.profile-sidebar a{
    text-decoration: none;
    color: rgb(49, 48, 48);
    padding-left: .8vh; 
}

.profile-sidebar p:hover{
    border: 1px solid black;
    background-color: rgb(44, 43, 43);
    opacity: .9;
    color: white;
    a{
        color: white;
    }

}

.chats{
    display: inline;
    height: 100vh;
    width: 35vh;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    top: 1vh;
    z-index: 9;
    right:0;
    overflow: scroll;
    border-radius: 1.5vh;
    animation-name: chats;
    animation-duration: 3s;
    
}
@keyframes chats{
    from{
        transform: translate(100%,0%);
    }
to{
    transform: translate(0%,00%);
}
}
.chats::-webkit-scrollbar{
    display: none;
}
.close-chats{
   position: absolute;
   color: black;
   background: none; 
    border: none;
    font-size: 2.5vh;
   right: 0;   
   cursor: pointer;

}
@keyframes closechats{
    from{
        transform: translate(00%,0%);
    }
to{
    transform: translate(100%,00%);
}
}

.chat:hover{
    border: 1px solid black;
    background-color: #fe0a84;
}
.chat{
    display: flex;   
}
.chat .name{
    padding-top: 3vh;
    padding-left: 2vh;
    font-size: 2vh;
}
.name .mes p{
    font-size: 1.5vh;
    color: #535354;
    padding-top: .5vh;
}
.chats h4{
    margin-left: 3vh;
}
 .chats h2 i{
    margin-left: 10vh;
}
 .chats h2{
    padding: 3vh 2vh;
}
.chats .pp{
   height:  8vh;
   width: 8vh;
}
.allchats{
    padding: 2vh 0vh;
}

.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 2vw;
    background-color: aliceblue;
}
.part2{
        display: flex;
        align-items: center;
         gap: 1vw;
}
.part3{
    padding-right: 8vh;
}
h4 a{
    color: rgb(49, 48, 48);
    text-decoration: none;
    position: relative;
    z-index: 9;
    
}
.part2 h4 i{
    padding-right: 1vh;

}


nav h4{
    padding: 10px 20px;
    border: 1px solid rgb(85, 68, 68);
    border-radius: 50px;
    font-weight: 500;
    color: rgb(49, 48, 48);
    font-size: 18px;
    position: relative;
    overflow: hidden;
    transition: all ease 0.4s;   
}

nav h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    transition: all ease 0.4s;
    border: 50%;
}
nav h4:hover::after{
    bottom: 0%;


}
nav a:hover{
    color: white;
}
.hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    background: linear-gradient(#fe0a84,#e779b0);     
    border-top-left-radius: 50%;
    border-bottom-left-radius:50% ;
    right: 0;
    filter: blur(20px);
}
.hero1{
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: linear-gradient(#fe0a84,#e779b0);          
     animation: anime1; 
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
}
.hero2{
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: linear-gradient(#fe0a84,#e779b0);          
     animation: anime2; 
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;


}
.hero3{
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: linear-gradient(#fe0a84,#e779b0);     
     animation: anime3; 
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;


}
.hero-shape2{
    position: absolute;
    width: 46vw;
    height: 36vw;
    background: linear-gradient(#fe0a84,#e779b0);     
    border-top-right-radius: 50%;
    border-bottom-right-radius:50% ;
    top: 40vh;
    left: 0;
    filter: blur(20px);
}
.hero4{
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: linear-gradient(#fe0a84,#e779b0);          
     animation: anime1; 
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
}
.hero5{
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: linear-gradient(#fe0a84,#e779b0);          
     animation: anime2; 
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;


}
.hero6{
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: linear-gradient(#fe0a84,#e779b0);     
     animation: anime3; 
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;


}
@keyframes anime1{
    from{
        transform: translate(50%,-3%);
    }
    to{
        transform: translate(0%,10%);
    }
}
@keyframes anime2{
    from{
        transform: translate(50%,-5%);
    }
    to{
        transform: translate(-20%,30%);
    }
}
@keyframes anime3{
    from{
        transform: translate(-10%,-5%);
    }
    to{
        transform: translate(10%,-15%);
    }
}
.hero-img{
    position: relative;
    background-image: url(hero_1.jpeg);
    width: 100%;
    height: 70vh;
    background-size: cover;
    top: 5vh;
    border-radius: 20px;
    
}

.dots i{
    position: relative;
    color: white;
    left: 40%;
    margin-right: 10vh;
    cursor: pointer;
    margin-top: 65vh;
   
}
.next1{
    position: relative;
    background-image: url(hero_4.jpeg);
    width: 100%;
    height: 70vh;
    background-size: contain;
    top: 0vh;
    border-radius: 20px;
    
    
    #next1Click{
        
      background-color: white;
       border-radius: 50%;
        
    }
    
  }
  .next2{
    position: relative;
    background-image: url(mix3.jpeg);
    width: 100%;
    height: 70vh;
    background-size: cover;
    top: 0vh;
    border-radius: 20px;
   
 
    #next2Click{
        background-color: white;
         border-radius: 50%;
          
      }
      
  }
  .next3{
    position: relative;
    background-image: url(hero_2.jpeg);
    width: 100%;
    height: 70vh;
    background-size: cover;
    top: 0vh;
    border-radius: 20px;
 
    #next3Click{
        background-color: white;
         border-radius: 50%;
          
      }
  }
 .next{
    #nextClick{
        background-color: white;
         border-radius: 50%;
    }
}
.dark{
    background-color: black;
    h4 a{
        color: white;
    }
    nav h4::after{
        background-color: white;
    }
    nav a:hover{
        color: black;
    }
    .chats{
        background-color: black;
        color: white;
        .close-chats{
            color: white;
        }
        .chat:hover{
            background-color: #272727;
        }
    }
}


.mode{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(85, 68, 68);
}
    
.page2{
    min-height: 100vh;
   width: 100%;
   padding: 0vw 0;
   position: relative;
   background-color: aliceblue;
}
.profileBoxes{
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    
}
.profileBoxes::-webkit-scrollbar{
    display: none;
}


.con{
    white-space: nowrap;
    display: flex;
    gap: 4vh;
    padding-left: 4vh;
}

.box:hover{
    background-color: black;
}

.box{
    height: 30vh;
    width: 25vh;
    border: 2px solid black;
   border-radius: 2vh;
   justify-content: center;
   align-items: center;
   background-color: #232F3E;
    
}
.pp{
    height: 18vh;
    width: 18vh;
    border: 1px solid rgb(251, 248, 248);
    border-radius: 50%;
    margin-left:1.6vw;
    margin-top: 1vw;
}

.con a{
    text-decoration: none;
    color: white;
    font-size: 2vh;
}
.info{
    margin-top: 2vh;
    margin-left: 6vh;
}

#followButton{
    height: 3vh;
    width: 80%;
    margin-left: 2vh;
    border-radius: 2vh;
    margin-top: 1vh;
    background-color: rgb(90, 189, 225);
    
}
#cross{
    position: relative;
    color: white;
    background-color: #232F3E;
    border: none;
    font-size: 2vh;
    top:-24vh;
    cursor: pointer;
}
.Tejaswa .pp{
    background-image: url(Mypic.jpeg);
    background-size: cover;
}
.Raju .pp{
    background-image: url(raju13t.jpeg);
    background-size: cover;
}
.Yugal .pp{
    background-image: url(yugal9t.jpeg);
    background-size: cover;
}
.Vishwas .pp{
    background-image: url(vishwas1.jpeg);
    background-size: cover;
   
    
}
.Vivek .pp{
    background-image: url(vivek\ 1t.jpeg);
    background-size: cover;
}
.Pratham .pp{
    background-image: url(pratham1.jpeg);
    background-size: cover;
}
.Yash .pp{
    background-image: url(hero.jpeg);
    background-size: cover;
}

.gola{
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(#fe0a84,#e779b0);    
    top: 40%;
    left: 0%;
    /* filter: blur(20px); */
    animation: gola;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    
}

@keyframes gola{
    from{
        filter: blur(20px);
        transform: translate(10%,-10%) skew(0deg);
    }
    to{
        filter: blur(30px);
        transform: translate(-10%,10%)skew(-12deg);
    }
}
video{
   left: 70vh;
    border-radius: 10%;
     width: 100vh;
    height: 60vh;
     margin-top: 4vw;
     position: relative;
     border: 5px solid white;
 }
 .page4{
    height: 70vh;
    width: 100%;
    background-color:aliceblue;
    padding: 10vw 2vw;
 }
 .page5{
    height: 60vh;
    width:100%;
    
 }
 footer{
   
    background-color: black;
    position: fixed;
    height: 60vh;
    width: 100%;
    color: white;
    z-index: 9;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    
 }

 footer h1{
    position: relative;
    font-size: 24vh;
    top: 25vh;
    border-bottom: 2px solid white;
   
 }
 .footer-animation{
    position: absolute;
    top: 0;
    width: 100%;
    height: 25vh;
    background: linear-gradient(#f63194,#e779b0); 
       display: flex;
    filter: blur(20px);
 }
 
 .ball{
    height: 30vh;
    width: 60vh;
    border-radius: 30%;
    background: linear-gradient(#f63194,#e779b0);  
    display: flex;
    margin-top: 5vh;
   
 }
 .a{
    animation: balls1; 
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 }
 .b{
    animation: balls2; 
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

 }
 .c{
    animation: balls3; 
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

 }
 .d{
    animation: balls4; 
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 }
 .e{
    animation: balls5; 
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 }
 
 @keyframes balls1{
    from{
        transform: translate(0%,40%);
    }
    to{
        transform: translate(15%,0%);
    }
 }
 @keyframes balls2{
    from{
        transform: translate(0%,20%);
    }
    to{
        transform: translate(10%,0%);
    }
 }
 @keyframes balls3{
    from{
        transform: translate(0%,-10%);
    }
    to{
        transform: translate(0%,20%);
    }
 }
 @keyframes balls4{
    
    from{
        transform: translate(0%,20%);
    }
    to{
        transform: translate(-10%,0%);
    }
 }
 
 @keyframes balls5{
    from{
        transform: translate(0%,40%);
    }
    to{
        transform: translate(-15%,0%);
    }
 }
.footer{
    position: absolute;
  color: white;
  width: 100%;
  height: 8vh;
  bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;

}
.lang{
    display: flex;
  gap: 1vh;
}
.btt{
    padding-right: 2vh;
    color: white;
    cursor: pointer;
}
a{
   text-decoration: none;
}
.swiper {
    width: 50%;
    height: 100%;
}

.swiper-slide {
    width: 30%;
    border-left: 1px solid #aeadad;
    padding: 0 2vw;
}

#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}
@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px){
   

    #loader h1{
        font-size: 9vw;
      
    }
    img{
        width: 6vh;
         height: 5vh;
         transition: all ease 0.2s;
    }

    .page1 {
        min-height: 55vh;
        width: 100vw;
        padding: 0 0vw;
    }
    nav h4{
        padding: 2vw 3vw;
        border: 1px solid rgb(85, 68, 68);
        border-radius: 50px;
        font-weight: 500;
        color: rgb(49, 48, 48);
        font-size: 8px;
        position: relative;
        overflow: hidden;
        transition: all ease 0.4s;   
    }
    #homee{
        display: none;
    }
  .mode{
    display: none;
  }
  .notification-sidebar{
    display: inline;
    border: 1px solid black;
    height: 30vw;
    width: 20vw;
    position:absolute;
   left: 52.5vw;
   z-index: 10;
   top: 11vw;
   border-radius: 15px;
   background-color: white;
  transition: all ease 1s;
  justify-items: center;
  align-items: center;
  transition: all ease 1s;
  overflow: hidden;
  font-size: 8px;

}
#about{
    display: none;
}
.profile-sidebar{
    display: inline;
    border: 1px solid black;
    height:25vw;
    width: 16vw;
  position:absolute;
   left: 73vw;
   z-index: 10;
  top: 11vw;
  border-radius: 15px;
  background-color: white;
  transition: all ease 1s;
  justify-items: center;
  align-items: center;
  transition: all ease 1s;
  overflow: hidden;
  font-size: 8px;
}
.profile-sidebar p{
    padding: .2vh .2vh;

}
.notification-sidebar p{
    padding: .2vh .2vh;

}
.about-sidebar p{
    padding: .2vh .2vh;

}
.chats{
    display: inline;
    height: 35%;
    width: 75%;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    top: 1vh;
    z-index: 9;
    right:0;
    overflow: scroll;
    border-radius: 1.5vh;
    animation-name: chats;
    animation-duration: 3s;

  
    
}
  .hero-img{
    position: relative;
    background-image: url(hero_1.jpeg);
    width: 100%;
    height: 30vh;
    background-size: cover;
    top: 5vh;
    border-radius: 20px;
    
}
.dots i{
    position: relative;
    color: white;
    left: 30%;
    margin-right: 10vw;
    cursor: pointer;
    margin-top: 55%;
   
}
.next1{
    background-size: cover;
    height: 30vh;
}
.next2{
    background-size: cover;
    height: 30vh;
}
.next3{
    background-size: cover;
    height: 30vh;
    
}
.page2{
    min-height: 70vh;
   width: 100%;
   position: relative;
   background-color: aliceblue;
}
video{
    left: 30vw;
     border-radius: 10%;
      width: 70%;
     height: 80%;
      margin-top: 4vw;
      position: relative;
      border: 5px solid white;
      top: 15vw;
  }

  .gola{
    top: 80vw;
    
}
footer{
   
    background-color: black;
    position: fixed;
    height: 40vh;
    width: 100%;
    color: white;
    z-index: 9;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    
 }

 footer h1{
    position: relative;
    font-size: 20vw;
    top: 40vw;
    border-bottom: 2px solid white;
   
 }
 .footer-animation{
    position: absolute;
    top: 0;
    width: 100%;
    height: 25vw;
    background: linear-gradient(#f63194,#e779b0); 
       display: flex;
    filter: blur(20px);
 }
 
 .ball{
    height: 30vw;
    width: 60vw;
    border-radius: 30%;
    background: linear-gradient(#f63194,#e779b0);  
    display: flex;
    margin-top: 5vh;
   
 }
 .page5{
    height: 40vh;
    
 }
}